Source: nsgminer
Priority: optional
Section: misc
Maintainer: John Doering <ghostlander@phoenixcoin.org>
Standards-Version: 0.9.1
Build-Depends: build-essential, debhelper, autoconf, automake, libtool, libssl-dev, pkg-config, libcurl4-openssl-dev, wget, unzip, libncurses5-dev, git, quilt

Package: nsgminer
Architecture: any
Depends: libcurl3, libncurses5
Description: This is a multi-threaded multi-pool GPU, FPGA and CPU miner with ATI GPU
 monitoring, (over)clocking and fanspeed support for bitcoin and derivative
 coins.
