*~
*.o
*.a
*.so
a.*
*.lo
*.la
*.pc
.libs
.deps
configure
config.*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
libtool
ltmain.sh
missing
install-sh
depcomp
ar-lib
stamp-h1
compile
test-driver
jansson_config.h
jansson_private_config.h.in
jansson_private_config.h
build
*.exe
